<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

  </system.web>

  <appSettings>
    <add key="Walmart.Prova.Web.TipoRepositorio" value="XML" />
    <add key="Walmart.Prova.Web.DiretorioXML" value="c:\Walmart" />
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:1254/Cidade.svc"
          binding="customBinding" bindingConfiguration="CidadeService"
          contract="Walmart.Prova.WebService.ICidade" name="CidadeService" />
    </client>
    <bindings>
      <customBinding>
        <binding name="Walmart.Prova.WebService.Cidade.cidadeBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CidadeService">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="Walmart.Prova.WebService.Cidade">
        <endpoint address="" binding="customBinding" bindingConfiguration="Walmart.Prova.WebService.Cidade.cidadeBinding0"
            contract="Walmart.Prova.WebService.ICidade" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment  multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
